:root {
    --bg-color:#081b29;
    --main-color:#00abf0;
    --text-color:#333;
    --second-text-color:#555;
    --white-color:#fff;
    --cover-color:linear-gradient(45deg, #00abf0, #006e9a);
    --pages-color:linear-gradient(90deg, #fff, #ddd);
    --box-shadow:0, 0 .6rem rgba(0, 0, 0, .2);
}
.header
{
    background-image: url(17.jpg);
    height: 500px;
    background-attachment: fixed;
    background-size: cover;
    background-position: full image;

}
@media screen and (max-width:400px ){
    .header{
        width: 500px;
	}
}
.brand
{
    color: black;
    padding:10px;
    margin-top: -45px;
    float:left;
    margin-left:800px;


}
.brand:hover {
    background: var(--main-color);
    color: var(--white-color);
    text-decoration:none;
box-shadow: 0 0 0.9rem #12f7ff;
}
@media screen and (max-width:1000px ){
	.brand{
        margin-left: 400px;
        margin-top: -45px;
	}
}
@media screen and (max-width:400px ){
	.brand{
        margin-left: 360px;
        margin-top: -45px;
	}
}
.menu
{
    color: #006600;
    margin-top: 20px;
    height:50px;

}
.menu-bar{
    margin-left:30px;
}
.menu-bar a
{
    padding:10px;
    color:black ;
    display:inline-block;
    margin-top: -10px;
    margin-left:10px;


}
.menu-bar a:hover {
    background: var(--main-color);
    color: var(--white-color);
    text-decoration:none;
    padding:10px;
    box-shadow: 0 0 0.9rem #12f7ff;
}
.socials
{
	margin-top:-610px;width: 100px;
    margin-left: 0px;background-color: red;

}
.socials-box{
    padding:10px;
    width:70px;
}
@media screen and (max-width:1000px ){
	.socials{
		display: none;
	}
}
.socials a
{
	background: var(--cover-color);
	font-size:30px;
	width:50px;
	text-align:center;
	margin-top:10px;
	margin-left:10px;
	height:50px;
	padding:10px;
    color: white;
    border-bottom-right-radius: 10px;
    text-decoration:none;


}
.socials a:hover
{
        background: var(--main-color);
    color: var(--white-color);
    text-decoration:none;
box-shadow: 0 0 0.9rem #12f7ff;
}
.left
{
    width:650px;
	margin-top:400px;
	padding:10px;
	margin-left:200px;
}
@media screen and (max-width:1000px ){
    .left{
        width: 490px;
		margin-left: 0px;
		margin-top: 40px;
	}
}
@media screen and (max-width:400px ){
    .left{
        width: 490px;
		margin-left: 10px;
		margin-top: 100px;
	}
}
.cards
{
	background: var(--cover-color);
	width:207px;
	margin-top:5px;
	padding:10px;
	margin-left:0px;
	display:inline-block;

}
@media screen and (max-width:1000px ){
    .cards{
        width: 480px;
	}
}
.cards h2
{
    font-size:20px
}
.cards a
{
    color:white;
}
.cards a:hover
{
    text-decoration:none;
}
.heading
{
    width:800px;
    margin-left:200px;
}
@media screen and (max-width:1000px ){
    .heading{
        width: 490px;
		margin-left: 10px;
	}
}
@media screen and (max-width:400px ){
    .heading{
        width: 490px;
		margin-left: 10px;
	}
}
.alert
{
    background-color:red;
    padding:10px;
}
@media screen and (max-width:400px ){
    .alert{
        width: 500px;
		margin-left: 0px;
	}
}
.alert h1
{
    width:300px;
}
@media screen and (max-width:400px ){
    .alert h1{
        width: 170px;
		margin-left: 0px;font-size:30px;
	}
}
.alert a
{
   color:black;
}
.alert a:hover
{
   color:white;
   text-decoration:none;
}

.alert-box
{
    margin-top:-40px;
    margin-left:270px;
}
@media screen and (max-width:400px ){
    .alert-box{
        width: 280px;
		margin-left: 170px;
	}
}
h2
{
    margin-left: 0px;
    color: black;
    margin-top: 20px;
    width:100%;
}
.register
{
    margin-left:65px;
    margin-top:30px;

}
.register .form-group
{
	margin-top:-105px;
}
.form-groups
{
    float:left;
    margin-left:20px;
}
.container
{
    margin-left: 0px;
    margin-top: 20px;
    width: 600px;
}
@media screen and (max-width:400px ){
    .container{
        width: 490px;
	}
}
.box
{
	width:650px;
	margin-top:50px;
	margin-left:0px;
}
@media screen and (max-width:1000px ){
    .box{
        width: 490px;
	}
}
@media screen and (max-width:400px ){
    .box{
        width: 490px;
	}
}
.advert
{
    height:150px;
    background-image: url(17.jpg);
    text-align:center;
    color:black;
}
.advert:hover{
text-decoration:none;
color:white;
}

.advert {
	animation: slideRight 1s ease forwards;
	opacity: 0;
	animation-delay: 2.0s;
}
@keyframes slideRight{
	0%{
		transform: translateX(-100px);
		opacity: 0;
	}
	100%{
		transform: translateX(0);
		opacity: 1;
	}
}


.advert2
{
    height:180px;
    background-image: url(mwslogo.png);
    text-align:center;
    color:black;
    margin-top:100px;
    margin-left:-10px;
    width:650px;
    padding:10px;
    background-size: cover;
    background-position: full image;
}
@media screen and (max-width:1000px ){
    .advert2{
        width: 490px;
		margin-left: 0px;
	}
}
.advert2:hover
{
    text-decoration:none;
    color:white;
}
.advert2 {
	animation: slideBottom 1s ease forwards;
	opacity: 0;
	animation-delay: 4.0s;
}
@keyframes slideBottom{
	0%{
		transform: translateY(-100px);
		opacity: 0;
	}
	100%{
		transform: translateY(0);
		opacity: 1;
	}
}
.advert3
{
    text-align:center;
    color:black;
}
.advert3:hover{
text-decoration:none;
color:white;
}



/*-----Slider------*/
#slider
{
	width:100%;
	padding-top:10px;
    color: black;
    margin-top: 30px;
}
@media screen and (max-width:400px ){
    #slider{

        width: 500px;
	}
}
#slider h1
{
    margin-top: 10px;
    color: black;
    text-align: center;
    font-family:sans-serif;
}
.carousel-item
{
        height: 400px;
        width: 100%;
        background: var(--cover-color);
}
@media screen and (max-width:400px ){
    .carousel-item{
        height: 700px;
        width: 490px;
	}
}
.carousel-caption
{
	margin-left: 270px;
    width: 470px;
    height: 400px;
    background-color: ;
}
@media screen and (max-width:1000px ){
    .carousel-caption{
        margin-left: 185px;
        width: 220px;
	}
}
@media screen and (max-width:400px ){
    .carousel-caption{
        margin-left: -65px;
        margin-top: 90px;
        width: 465px;
        height: 340px;
	}
}
.carousel-caption-text
{
   text-align: left;
    color: black;
    padding: 20px;
height:300px;
    margin-top: 20px;
    margin-left: 0px;
}

.img-fluid
{
	width:200px;
	height:400px;
    margin-left: 10px;
    background-color: ;

}
@media screen and (max-width:1000px ){
	.img-fluid{
        margin-left: 0px;


	}
}
@media screen and (max-width:400px ){
	.img-fluid{
        margin-left: 0px;width: 480px;


	}
}
.img-fluid img
{
    width: 300px;
    height:300px;
    margin-left: 100px;
    padding: 0px;
    margin-top:50px;

}
@media screen and (max-width:1000px ){
	.img-fluid img{
        margin-left: 0px;
        width: 250px;
        height: 400px;


	}
}
@media screen and (max-width:400px ){
	.img-fluid img{
        margin-left: 0px;
        width: 480px;
        height: 400px;


	}
}

.carousel-control-prev
{


    height: 40px;
    margin-top: 170px;
    margin-left: 0px;
}

@media screen and (max-width:1000px ){
    .carousel-control-prev{
        margin-left: -20px;
        margin-top: 200px;
	}
}
@media screen and (max-width:400px ){
    .carousel-control-prev{
        height: 80px;
        margin-top: 200px;
	}
}
.carousel-control-next
{

    height: 40px;
    margin-top: 170px;
    margin-right: 0px;
}
@media screen and (max-width:1000px ){
    .carousel-control-next{
        margin-right: -10px;
        margin-top: 200px;
	}
}
@media screen and (max-width:400px ){
    .carousel-control-next{
        margin-right: -140px;
        margin-top: 210px;
	}
}









#testimonials
{
    height: 400px;
    margin-top: 40px;
  	background-size: cover;
	width: 100%;
}
@media screen and (max-width:1000px ){
	#testimonials{
		height: 600px;
		margin-left: 0px;
		width: 500px;
	}
}
@media screen and (max-width:400px ){
	#testimonials{
		width: 500px;
		margin-left: 0px;
	}
}
.testimonials
{
	margin-top:10px;
	display:inline-block;
	padding-bottom:10px;
	margin-left:200px;



}


@media screen and (max-width:1000px ){
	.testimonials{
		margin-left:20px;
		margin-top: 10px;
		height: 800px;

	}
}

@media screen and (max-width:400px ){
	.testimonials{
		width: 480px;margin-left: 10px;margin-top: 10px;
    }
}

.testimonial
{

	display: inline-block;
	width: 190px;
	height: 300px;
	border-radius: 5px;
	color: white;
	text-align: center;

}
@media screen and (max-width:1000px ){
	.testimonial{
		width: 230px;
		height: 240px;margin-top: 20px;
	}
}
@media screen and (max-width:400px ){
	.testimonial{
		width: 230px;
		height: 250px;margin-top: 20px;
	}
}
.testimonials-box
{

	border-radius: 5px;
	margin-top: 20px;
	height: 200px;
	margin-left: 0px;
	width: 190px;
	text-align: center;
	transition: all ease 0.6s;

}
.testimonials-box:hover{
	transform: rotate3d(1,1,0,20deg);
}

@media screen and (max-width:1000px ){
	.testimonials-box{
		width: 230px;
		height: 280px;
		margin-top: -10px;
	}
}
@media screen and (max-width:400px ){
	.testimonials-box{
		margin-top: 20px;
	}
}










	.testimonials h6
	{

		color: white;
		font-size: 18px;
		text-align: center;
		margin-top: 10px;
		padding-top: 0px;

	}

#testimonial-kenzo
{
	background-image: url(haile.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 5px;
	height: 250px;
}
#testimonial-emma
{
	background-image: url(17.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 5px;
	height: 250px;
}
#testimonial-lebo
{
	background-image: url(9dwnq1jq3aa.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 5px;
	height: 250px;
}
#testimonial-thuso
{
	background-image: url(elder.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 5px;
	height: 250px;
}


.overlay{
	height: 100%;
	width: 100%;
	background: var(--cover-color);
	opacity: 0;
	transition: all ease 0.6s;
	border-radius: 5px;
}
.overlay:hover
{
	opacity: 1;

}
.overlay a
{
    color:white;
}
.overlay a:hover
{
    color:red;
    text-decoration:none;
}
.overlay em
{
    font-size:12px;
}
#testimonials h2
{

    padding:10px;
    color:white;
    width:250px;
    border-radius: 5px;
    background: var(--cover-color);
}
@media screen and (max-width:1000px ){
    #testimonials h2{
        width: 240px;
	}
}
.view
{
    margin-top:-50px;
    margin-left:-30px;
}
@media screen and (max-width:1000px ){
	.view{
		margin-top: 20px;
		margin-left: 0px;
	}
}
.view a, .add a
{
    border-radius: 5px;
    background: var(--cover-color);
    padding:10px;
    margin-top:20px;

    color:white;
}
.buy-btn a
{
    width:500px;
}
.view a:hover, .add a:hover
{
    text-decoration:none;
    background: var(--main-color);
    color: var(--white-color);
    text-decoration:none;
box-shadow: 0 0 0.9rem #12f7ff;
}
.add
{
    margin-top:80px;
    height:300px;
    background: var(--main-color);
    text-align:center;
    padding-top:100px;
}
@media screen and (max-width:400px ){
	.add{
		width: 490px;
		margin-left: 0px;
		
	}
}
.add h1
{
    color: 00abf0;
    text-transform:uppercase ;transition-duration: 1s;-webkit-background-clip:text;
   direction: left;
    transform:rotate3d(-50%,-50%);
    text-shadow: 10px 10px #12f7ff;
    behavior:slide;
    font-size: 40px;
}

.footer .cardless
{

	width:300px;
	margin-top:5px;
	padding:10px;
	margin-left:20px;
	display:inline-block;
	background-color:white;

}
@media screen and (max-width:1000px ){
	.footer .cardless{
		width: 250px;
		margin-left: 0px;
		
	}
}
@media screen and (max-width:400px ){
	.footer .cardless{
		width: 230px;
		margin-left: 0px;
		
	}
}
